@model MovieSearchRes

<div class="col-md-4 mb-4">
    <div class="card bg-dark text-white">
        <img src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" class="card-img-top" alt="@Model.Title">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">
                Жанры: @string.Join(", ", Model.GenreIds)
            </p>
        </div>
    </div>
</div>